<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>500</title>
  </head>
  <body>
    <%- include('partials/navbar', {page: ''}) %>
    <div class="max-w-[600px] mt-[100px] container mx-auto">
      <p class="text-center mt-[50px] text-xl">ERROR 500: <%= message %></p>
    </div>
  </body>
</html>
