<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>Add Project</title>
  </head>
  <body>
    <%- include('partials/navbar', {page: '/solutions/addProject'}) %>
    <form
      action="/solutions/addProject"
      method="post"
      class="max-w-[1280px] w-fit mx-auto px-[20px]"
    >
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 gap-y-0">
        <div class="mb-6">
          <label for="title" class="block font-medium my-2">Title</label>
          <input
            type="text"
            id="title"
            name="title"
            required=""
            class="w-full rounded-md px-3 py-2"
          />
        </div>
        <div class="mb-6">
          <label for="feature_img_url" class="block font-medium my-2"
            >Feature Image (URL)</label
          >
          <input
            type="url"
            id="feature_img_url"
            name="feature_img_url"
            required=""
            class="w-full rounded-md px-3 py-2"
          />
        </div>

        <div class="mb-6">
          <label for="sector_id" class="block font-medium my-2">Sector</label>
          <select
            id="sector_id"
            name="sector_id"
            required=""
            class="w-full rounded-md px-3 py-2"
          >
            <option value="1">Land Sinks</option>

            <option value="2">Industry</option>

            <option value="3">Transportation</option>

            <option value="4">Electricity</option>

            <option value="5">Food, Agriculture, and Land Use</option>
          </select>
        </div>

        <div class="mb-6">
          <label for="intro_short" class="block font-medium my-2">Intro</label>

          <textarea
            id="intro_short"
            name="intro_short"
            required=""
            class="w-full rounded-md px-3 py-2 h-40"
          ></textarea>
        </div>

        <div class="mb-6">
          <label for="summary_short" class="block font-medium my-2"
            >Short Summary</label
          >
          <textarea
            id="summary_short"
            name="summary_short"
            required=""
            class="w-full rounded-md px-3 py-2 h-40"
          ></textarea>
        </div>

        <div class="mb-6">
          <label for="impact" class="block font-medium my-2">Impact</label>
          <textarea
            id="impact"
            name="impact"
            required=""
            class="w-full rounded-md px-3 py-2 h-40"
          ></textarea>
        </div>

        <div class="mb-6">
          <label for="original_source_url" class="block font-medium my-2"
            >Original Source (URL)</label
          >
          <input
            type="url"
            id="original_source_url"
            name="original_source_url"
            required=""
            class="w-full rounded-md px-3 py-2"
          />
        </div>
      </div>

      <div class="mt-6">
        <button type="submit" class="btn btn-primary w-full btn-sm">
          Add Project
        </button>
      </div>
    </form>
  </body>
</html>
